# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import pandas as pd
from scipy.stats import ttest_rel
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [4]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [7]:
pok_noLeg_num = pokemon['Legendary'].value_counts(False)
pok_Leg_num = pokemon['Legendary'].value_counts(True)
print(f'Número de Pokemon Legendarios: {pok_Leg_num}, Número de Pokemon no Legendarios: {pok_noLeg_num}')

Número de Pokemon Legendarios: Legendary
False    0.91875
True     0.08125
Name: proportion, dtype: float64, Número de Pokemon no Legendarios: Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [23]:
# Your code here:
pok_Leg =  pokemon.loc[pokemon['Legendary'] == True]
pok_Leg_mean = pok_Leg.Total.mean()
pok_Leg_std = pok_Leg.Total.std()
pok_noLeg =  pokemon.loc[pokemon['Legendary'] == False]
pok_noLeg_mean = pok_noLeg.Total.mean()
pok_noLeg_std = pok_noLeg.Total.std()
print(pok_Leg_mean, pok_Leg_std, pok_noLeg_mean, pok_noLeg_std)

637.3846153846154 60.93738905315344 417.21360544217686 106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [17]:
# Your code here:
from scipy.stats import ttest_ind
'Hipótesis:   H0: mu = 0 | H1 mu != 0'

pok_Leg_total = pok_Leg.Total
pok_noLeg_total = pok_noLeg.Total

ttest_ind(pok_Leg_total, pok_noLeg_total, alternative='two-sided')

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [18]:
# Your conclusions here:

'Como el pvalor es < 0.05 Rechazamos H0'

'Como el pvalor es < 0.05 Rechazamos H0'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [42]:
# Your code here:
pok_t1 = pokemon['Type 1'].value_counts()
print(pok_t1)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [21]:
# Your code here:
pok_water = pokemon.loc[pokemon['Type 1'] == 'Water']
pok_water_total = pok_water.Total
pok_water_mean = pok_water.Total.mean()
pok_water_std = pok_water.Total.std()
print(pok_water_mean, pok_water_std)

430.45535714285717 113.1882660643146

In [22]:
pok_no_water = pokemon.loc[pokemon['Type 1'] != 'Water']
pok_no_water_total = pok_no_water.Total
pok_no_water_mean = pok_no_water.Total.mean()
pok_no_water_std = pok_no_water.Total.std()
print(pok_no_water_mean, pok_no_water_std)

435.85901162790697 121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [55]:
'Hipótesis:   H0: mu = 0 | H1 mu != 0'

ttest_ind(pok_water_total, pok_no_water_total, alternative='two-sided')

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [1]:
# Your conclusions here:

'Como el p-valor es 0.65 > 0.05 no podemos rechazar la H0 y por lo tanto todas las medias son iguales'

'Como el p-valor es 0.65 > 0.05 no podemos rechazar la H0 y por lo tanto todas las medias son iguales'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [12]:
# Your code here:
'h0 = Iguales | H1 != Iguales'
pok_at = pokemon['Attack']
pok_def = pokemon['Defense']
ttest_rel(pok_at, pok_def)

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

Describe the results of the test in the cell below.

In [9]:
# Your conclusions here:

'Como el p-valor es < 0.05 rechazamos la hipótesis nula y por lo tanto son diferentes'

'Como el p-valor es < 0.05 rechazamos la hipótesis nula y por lo tanto son diferentes'

no We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [14]:
# Your code here:
from scipy.stats import ttest_ind

'H0: m1-m2 = 0, H1 ≠ 0'
pok_spA = pokemon['Sp. Atk']
pok_spD = pokemon['Sp. Def']

ttest_ind(pok_spA, pok_spD, alternative='two-sided')

Ttest_indResult(statistic=0.6041290031014401, pvalue=0.5458436328840358)

Describe the results of the test in the cell below.

In [15]:
# Your conclusions here:

' Como el p-valor es > 0.05 no podemos rechazar la H0 y por lo tanto no hay una diferencia significativa entre los ataques especiales y las defensas especiales '

' Como el p-valor es > 0.05 no podemos rechazar la H0 y por lo tanto no hay una diferencia significativa entre los ataques especiales y las defensas especiales '

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [19]:
# Your code here:
from scipy.stats import ttest_1samp
'H0 = 0 | H1 != 0'

pok_At_Def = pok_def - pok_at

t_test = ttest_1samp(pok_At_Def, 0, alternative='less')
print(t_test)

TtestResult(statistic=-4.325566393330478, pvalue=8.570151739679279e-06, df=799)

In [20]:
'Como el p-valor es < 0.05 rechazamos H0 y por lo tanto las medias del ataque y la defensa son significativamente diferentes'

'Como el p-valor es < 0.05 rechazamos H0 y por lo tanto las medias del ataque y la defensa son significativamente diferentes'

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [29]:
# Your code here:
cross=pd.crosstab(pokemon['Type 1'] == 'Water', pokemon['Legendary'])
print(cross)

Legendary  False  True
Type 1
False        627     61
True         108      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [31]:
from scipy.stats import chi2_contingency

'H0: No, H1: Si'

# Your code here:
ji_dos, pval, dof, ex = chi2_contingency(cross)
print(ji_dos, pval, dof, ex)

2.9429200762850503 0.0862546724955095 1 [[632.1  55.9]
 [102.9   9.1]]

Based on a 95% confidence, should we reject the null hypothesis?

In [32]:
# Your answer here:
'Con el intervalo de confianza de 95% y dado que nos ha dado un pvalor > 0.05 NO podemos rechazar H0 y por lo tanto no existe asociacion significativa entre los grupos.'

'Con el intervalo de confianza de 95% y dado que nos ha dado un pvalor > 0.05 NO podemos rechazar H0 y por lo tanto no existe asociacion significativa entre los grupos.'